uv.lock
data/bjtaxi_samples_10k.tsv

data/cb_2017_us_county_500k.cpg

data/cb_2017_us_county_500k.dbf

data/cb_2017_us_county_500k.prj

data/cb_2017_us_county_500k.shp

data/cb_2017_us_county_500k.shp.ea.iso.xml

data/cb_2017_us_county_500k.shp.iso.xml

data/cb_2017_us_county_500k.shp.xml

data/cb_2017_us_county_500k.shx

data/co-est2019-alldata.csv

data/phila_crime_incidents.csv
